Exercicios/Modulo_3/licitacoes.csv
Exercicios/Modulo_3/planilha_modulo3.xlsx
Exercicios/Sugestoes_Analises/Dados/perfil_comparecimento_abstencao_2024.zip
Exercicios/Sugestoes_Analises/Dados/perfil_eleitorado_2024.zip
Exercicios/Sugestoes_Analises/Dados/perfil_comparecimento_abstencao_2024/*
Exercicios/Sugestoes_Analises/Dados/perfil_eleitorado_2024/*
arquivos_conteudo/planilha_modulo3.xlsx
arquivos_conteudo/Planilha_Aula_parte2.xlsx
arquivos_conteudo/analise_dados.csv
