Modulo_3/licitacoes.csv
Modulo_3/planilha_modulo3.xlsx
Sugestoes_Analises/Dados/perfil_comparecimento_abstencao_2024.zip
Sugestoes_Analises/Dados/perfil_eleitorado_2024.zip
Sugestoes_Analises/Dados/perfil_comparecimento_abstencao_2024/*
Sugestoes_Analises/Dados/perfil_eleitorado_2024/*